aside {
    width: 250px; 
    float: right; 
    background-color: #16d7ad;
    padding: 15px 15px 500px 50px; 
}

.Horizontal {
    display: flex;
}

.Horizontal li{
    margin-right:10%;
}

img {
    width: 200px;
    height: auto; 
}

figure{
    text-align: center;
}

body{
    background-color: rgb(34, 34, 29);


}


main{
    padding-right: 10%;
    margin-right: 300px;
}

.pikachu{
    float: right; 
}

.Nuevo{
    text-align: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5% ;
    padding-right: 5%;
    font-weight: bold;
}

h1{
    color: white;
    font-size: 45px;
}

ul li{
    display: inline-block;
    padding: 0 20px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: blueviolet;
}

h2{
    text-align: center;
}

.footer{
    text-align: center;
}

.text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;

}

.icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover{
    transform: translateY(-10px);
}

